stages:
  - build
  - test
  - package
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .m2/repository

before_script:
  - echo "=== Début du job ==="
  - echo "Initialisation de Maven"

after_script:
  - echo "=== Fin du job ==="

build:
  stage: build
  image: maven:3.9.6-eclipse-temurin-17
  script:
    - mvn $MAVEN_CLI_OPTS compile
  allow_failure: false
  artifacts:
    paths:
      - target/

test:
  stage: test
  image: maven:3.9.6-eclipse-temurin-17
  script:
    - mvn $MAVEN_CLI_OPTS test
  allow_failure: true        
  artifacts:
    when: always
    reports:
      junit:
        - target/surefire-reports/*.xml
    paths:
      - target/surefire-reports


package:
  stage: package
  image: maven:3.9.6-eclipse-temurin-17
  script:
    - mvn $MAVEN_CLI_OPTS package -DskipTests
  artifacts:
    paths:
      - target/demo-0.0.1-SNAPSHOT.war

deploy:
  stage: deploy
  image: curlimages/curl:latest
  script:
    - echo "Déploiement du war sur Tomcat..."
    - curl -u "$TOMCAT_USER:$TOMCAT_PASS" -T target/demo-0.0.1-SNAPSHOT.war "http://$TOMCAT_IP:8080/manager/text/deploy?path=/demo&update=true"
